<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Welcome to blog site</title>
		<link rel="stylesheet" href="style.css" />
		<style>
			* {
				margin: none;
				padding: none;
			}

			body {
				margin-top: 100px;
				padding: none;
			}
			.blog-container {
				display: flex;
				flex-wrap: wrap;
			}
			.card {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				margin: 10px;
				padding-left: 10px;
				padding-right: 10px;
				display: inline-flex;
				flex-direction: column;
				align-items: start;
				justify-content: flex-start;
				height: 33.3%;
				width: 40%;
				background-color: rgb(71, 71, 71);
			}
			.card h2 {
				font-size: 2rem;
			}
			.card h3 {
				margin-top: 0;
				font-size: 1rem;
			}

			.card-link {
				color: white;
			}
			.card-link:visited {
				color: rgb(164, 164, 164);
			}
		</style>
	</head>

	<body>
		<h1>Welcome to the Blog site.</h1>
		<%- include ("../navbar.ejs"); %>

		<div class="blogs-container">
			<!-- this code below is a js code...(benifits of ejs) -->
			<% blogs.forEach((blog) => { %>
			<a
				class="card-link"
				href="blog/<%- blog.id %>"
				style="text-decoration: none"
			>
				<div class="card">
					<h2><%- blog.title %></h2>
					<h3><%- blog.subtitle %></h3>
					<p><%- blog.description %></p>
				</div>
			</a>
			<% }) %>
		</div>
	</body>
</html>
