<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add Notes</title>
		<style>
			body {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.form-area {
				margin-top: 10px;
				background-color: rgb(71, 71, 71);
				width: 70%;
				padding: 5% 10% 5% 10%;
			}

			.form-area input,
			.form-area textarea {
				margin: 0 50%;
				margin-top: 20px;
				transform: translate(-50%);
				display: block;
				width: calc(100% - 20px);
			}
			.form-area input {
				height: 2rem;
			}
			.form-area label {
				margin-top: 10px;
				margin-left: 20px;
				font-size: 2rem;
				display: block;
			}

			textarea {
				font-family: Arial, Helvetica, sans-serif;
			}
		</style>
	</head>
	<body>
		<%- include("../navbar.ejs"); %>
		<div class="form-area">
			<form action="/blog/edit/<%- currentBlog.id %>" method="post">
				<label for="title">Title of your blog:</label>
				<input
					type="text"
					name="title"
					id="title"
					value="<%- currentBlog.title %>"
				/>
				<label for="subtitle">Subtitle:</label>
				<input
					type="text"
					name="subtitle"
					id="subtitle"
					value="<%- currentBlog.subtitle %>"
				/>
				<label for="description">Description:</label>
				<textarea
					name="description"
					id="description"
					cols="auto"
					rows="10"
					style="resize: none"
				>
<%- currentBlog.description %>
            </textarea
				>
				<input type="submit" value="Submit" />
			</form>
		</div>
	</body>
</html>
